/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&family=Sawarabi+Mincho&display&family=Bebas+Neue&display==swap");

body {
  background-image: url(./images/stars.png);
  background-size: 5000%;
  background-position: 0 0;
  transition: background-position 1s;
}
button {
  width: 200px;
  height: 200px;
}

.pianoKey {
  width: 100px;
  height: 100px;
  padding: 20px;
  flex: 1;
  transition: background-color 0.5s;
}

#keyboard {
  max-width: 80vw;
}
#toprow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#bottomrow {
  display: flex;
  flex-direction: row;
}

h1 {
  font-family: "Sawarabi Mincho", sans-serif;
  color: rgb(143, 55, 143);
}

h2 {
  color: white;
  font-family: "Roboto", sans-serif;
}

#textbox {
  position: absolute;
  left: 0px;
  margin-left: 30vw;
  background-color: rgba(255, 255, 255, 0.7);
}
